<main class="home-page--main-container">
  <section class="home--section">
    <p class="home-message">You have to be signed-in to start managing your todos.</p>
  </section>

  <section class="home--section">
    <h2 class="home--section-title">New to the Todo Manager?</h2>
    <p>
      <a class="home--auth-link" href="/users/new">Sign-up for a new account</a>
    </p>
  </section>

  <section class="home--section">
    <h2 class="home--section-title">Already have an account?</h2>
    <p>
      <a class="home--auth-link" href="/users/sign_in">Sign-in</a>
    </p>
  </section>
</main>
