<main class="home-page--main-container">
  <section class="home--section">
    <p class="home-message">You have to be signed-in to start managing your todos.</p>
  </section>

  <section class="home--section">
    <h2 class="home--section-title">New to the Todo Manager?</h2>
    <%= link_to "Sign-up", new_user_path, class: "auth--auth-link" %>
  </section>

  <section class="home--section">
    <h2 class="home--section-title">Already have an account?</h2>
    <%= link_to "Sign-in", new_sessions_path, class: "auth--auth-link" %>
  </section>
</main>
